html {
  border: 0px;
  margin: 0px;
  padding: 0px;/*
  background:#E5E0C2;*/
  height: 100%;
  background: linear-gradient(to bottom, #E5E0C2 0%, #c2e5e0 120%);
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
h1 {
  font-family: 'Lato', sans-serif;
  cursor: default;
}
a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: #888b91;
  font-size: 16px;
}
.thiswaylink {
  color: black;
  cursor: pointer !important;
  display:inline !important;
}
.page-title {
  color: black;
  cursor: pointer !important;
  display:inline !important;
}
.animation1 {
  animation-name: summer;
  animation-duration: 3s;
  animation-iteration-count:infinite;
}
.animation2 {
  animation-name: spring;
  animation-duration: 3s;
  animation-iteration-count:infinite;
}
.animation3 {
  animation-name: winter;
  animation-duration: 3s;
  animation-iteration-count:infinite;
}
.animation4 {
  animation-name: fall;
  animation-duration: 3s;
  animation-iteration-count:infinite;
}

@keyframes summer {
  0%   {color:#ffab9a;}
  14%  {color:#ffb400}
  28%  {color:#00e2ff;}
  56%  {color:#00e8a0;}
  84%  {color:#00e2ff;}
  70%  {color:#ffb400}
  100% {color:#ffab9a;}
}
@keyframes spring {
  0%   {color:#BF9BDE;}
  14%  {color:#74D1EA}
  28%  {color:yellowgreen;}
  56%  {color:green;}
  84%  {color:yellowgreen;}
  70%  {color:#74D1EA}
  100% {color:#BF9BDE;}
}
@keyframes winter {
  0%   {color:#04669b;}
  14%  {color:#248dc5}
  28%  {color:#5aa8d2;}
  56%  {color:#003cff;}
  84%  {color:#5aa8d2;}
  70%  {color:#248dc5}
  100% {color:#04669b;}
}
@keyframes fall {
  0%   {color:#d4851c;}
  14%  {color:#ff6804}
  28%  {color:#d83000;}
  56%  {color:#a32a2a;}
  84%  {color:#d83000;}
  70%  {color:#ff6804}
  100% {color:#d4851c;}
}

/*.menuitem {
  transform: rotate(-90deg);
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 1px ridge transparent;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: .5s ease;
  white-space: nowrap;
  height: 25px;
}
.menuitem:hover {
  border-bottom: 1px ridge blue;
  border-bottom-style: ridge;
  border-bottom-color: lightsteelblue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-width: 1px;
}*/

.menuitem {
  transform: rotate(-90deg);
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  text-decoration: none;
  border-bottom: 1px ridge transparent;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: .5s ease;
  white-space: nowrap;
  height: 25px;
} 
.menuitem:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
} 
.menuitem:hover:after {
  width: 100%;
  background: lightsteelblue;
  border-bottom: 10px ridge;
  border-bottom-style: ridge;
  border-bottom-color: lightsteelblue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-width: 1px;
}
.menu {
  position: fixed;
  top: 20%;
  left: -0%;
}
.menutd {
  padding-bottom: 9em;
}
.tooltipitem {
  visibility: hidden;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 11px;
  background-color: darkgray;
  border-style: solid;
  border-radius: 10px;
  border-color: darkgray;
  border-left-width: 7px;
  border-bottom-width: 7px;
  border-top-width: 7px;
  border-right-width: 7px;  
  /*transition: 5s ease-in;*/
}

.headerdiv {
  display: block;
  position: fixed;
}
.headertable {
  width: 100%;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: #888b91;
  font-size: 16px;
  padding-left: 250px;
}
.headertd {
  padding-right: 270px;
}
#headera1 {
  border-bottom-style: ridge;
  border-bottom-color: dodgerblue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-width: 1px;
  border-top-style: ridge;
  border-top-color: deepskyblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-width: 1px;
  white-space: nowrap;
}
#headera2 {
  border-bottom-style: ridge;
  border-bottom-color: dodgerblue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-width: 1px;
  border-top-style: ridge;
  border-top-color: deepskyblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-width: 1px;
  white-space: nowrap;
}
#headera3 {
  border-bottom-style: ridge;
  border-bottom-color: dodgerblue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-width: 1px;
  border-top-style: ridge;
  border-top-color: deepskyblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-width: 1px;
  white-space: nowrap;
}
#headera4 {
  border-bottom-style: ridge;
  border-bottom-color: dodgerblue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-width: 1px;
  border-top-style: ridge;
  border-top-color: deepskyblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-width: 1px;
  white-space: nowrap;
}

.headerAnimation{
  /*animation-name: headera;
  animation-duration: 3s;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in;*/
  background: linear-gradient(to left, lightgray 50%, #e7e3c8 50%);
  background-size: 200% 100%;
  background-position:left bottom;
  transition: all .3s ease;
}
.headerAnimation:hover{
  background-position:right bottom;
  color: black;
}
@keyframes headera {
  0%   {background-color:white;}
  100% {background-color:gray;}
}

@import "compass/css3";
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.arrowDn {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-image: url(arrowDn.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.arrowUp {
  position: relative;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 20px;
  background-image: url(arrowUp.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.bounce {
  -moz-animation: bounce 5s infinite;
  -webkit-animation: bounce 5s infinite;
  animation: bounce 5s infinite;
}

.thiswayimg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 262px;
  margin-top: -131px; /* Half the height */
  margin-left: -200px; /* Half the width */
}
.title2 {
  position:absolute;
  top:150%;
  top: 105%;
  width: 100%;
}
.footer {
  background-color:darkgrey;
  position:absolute;
  top: 200%;
  width: 101%;
  left: -1px;
}

.icon {

}